/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro:wght@600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 650px;
    
    overflow-x: hidden;
    background: rgb(9,121,118);
    background: linear-gradient(90deg, rgba(9,121,118,0.9756945014333859) 0%, rgba(16,52,133,1) 100%);
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
   
}

/*header*/
.header {
    display: flex;
    justify-content: center;
    left: 50%;
    width: 75%;
    margin: 0 auto ;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
     
}

.header h1 {
    font-weight: bold;
}




/* game area*/
.container {
    position: absolute;
    width: 80%;
    
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 30px 15px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.container p{
    font-weight: bold;
}

.score-area {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

.score-area h2 {
    font-size: 30px;
}

.artilleries {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.btn-art{
    
    background-color: rgb(96, 96, 184);
    color: white;
    font-size: 25px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-art:hover {
    color: rgb(96, 96, 184);
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);

}

/* Events of the game */
.events {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    
}

.rs-container {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 0 auto;
}


.rs {
    height: 100%;
    margin-top: 6px;
    font-size: 35px;
}

/* Border color changes based upon win and loss in the reult section */
.green-border {
    border: 5px solid green;
    box-shadow:0 15px 25px rgba(12, 117, 38, 0.8);
}

.red-border {
    border: 5px solid red;
    box-shadow:0 15px 25px rgba(172, 17, 17, 0.8);
}

.blue-border {
    border: 5px solid blue;
    box-shadow:0 15px 25px rgba(53, 20, 131, 0.8);
}
 

/* reset button*/

.reset-button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.reset-button button {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(202, 8, 8);
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}



/* rules button*/
.rules-button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.rules-button button {
    font-size: 20px;
    padding: 10px;
    background-color: #0b4934;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

/* Modal for Rules button */
/* modal container covers the whole body*/
.modal-container {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background: whitesmoke;
    width: 300px;
    border-radius: 10px;
    max-width: 100%;
    padding: 20px 5px;
    text-align: center;

}

#close {
    font-size: 20px;
    width: 30%;
}


/* footer */
.footer-container {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    
   
}

.social-media {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.social-media a {
    text-decoration: none;
    color: rgb(96, 96, 184);
    cursor: pointer;
}

.social-media a:hover {
    background-color: rgb(96, 96, 184);
    color: #ffffff;
}

button {
    font-family: inherit;
}

/* Media Queries */
 /* For mobile phones: */
 @media only screen and (max-width: 512px) {
   
    .container {
      
        height: 500px;
       
    }
  }

  @media only screen and (max-width: 322px) {
      .header {
          width: 100%;
      }
   
    .container {
        width: 90%;
        
       
    }
  }